{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/pick_a_national'>
<table>
<tr><td>请选取ISO: </td><td>
  <select name='user_national_ISO'> 
   <option value="AFG">AFG</option>        
  {% for item in the_list_items %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
  <tr><td>请选取指标: </td><td>
  <select name='user_national_WEO_Subject_Code'>           
   <option value="PPPPC">PPPPC</option>
   {% for item in the_list_items %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='OK！' type='SUBMIT'></p>
</form>

{% endblock %}
